[build]
  functions = "netlify/functions"

[build.environment]
  NODE_VERSION = "18"

[functions]
  node_bundler = "esbuild"
  external_node_modules = ["@sparticuz/chromium", "@postlight/mercury-parser", "puppeteer-extra", "puppeteer-extra-plugin-stealth"]
