<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>liagosoft.SuperReader</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>azreader</string>
			</array>
		</dict>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>Inter-Regular.ttf</string>
		<string>Poppins-Regular.ttf</string>
		<string>Lora-Regular.ttf</string>
		<string>Montserrat-Regular.ttf</string>
		<string>CrimsonText-Regular.ttf</string>
		<string>Lato-Regular.ttf</string>
		<string>Roboto-Regular.ttf</string>
		<string>OpenSans-Regular.ttf</string>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
</dict>
</plist>
