<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>liagosoft.SuperReader</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>azreader</string>
			</array>
		</dict>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>Caprasimo-Regular.ttf</string>
		<string>Lora-Regular.ttf</string>
		<string>Literata-Regular.ttf</string>
		<string>Literata-Bold.ttf</string>
		<string>Merriweather-Regular.ttf</string>
		<string>Merriweather-Bold.ttf</string>
		<string>AtkinsonHyperlegible-Regular.ttf</string>
		<string>AtkinsonHyperlegible-Bold.ttf</string>
		<string>Nunito-Regular.ttf</string>
		<string>Nunito-Bold.ttf</string>
		<string>Figtree-Regular.ttf</string>
		<string>Figtree-Medium.ttf</string>
		<string>Figtree-SemiBold.ttf</string>
		<string>Figtree-Bold.ttf</string>
		<string>Figtree-ExtraBold.ttf</string>
		<string>Figtree-Black.ttf</string>
	</array>
    <key>NSLocalNetworkUsageDescription</key>
    <string>SuperReader needs access to your local network to communicate with the development server.</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
</dict>
</plist>
